@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --white-color: rgb(255,255,255);
}
@media (max-width: 900px){
    .pig-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .pig-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(254, 138, 157);
    padding:10px;
    border: 1px solid white;

}
.nav-links {
    display: flex;
    gap: 20px;
}
a:hover{
    color:white;
    
}
a{
    text-decoration:none;
    color: black;
    transition:0.1s;
}
.hero {
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    text-align: center;
    padding: 100px 20px;
    display: flex;
flex-direction: column;
justify-content: center;
gap:20px;
}
.button{
    background-color:#f4a261;
    color: black;
    padding:5px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    cursor:pointer;
}

.button:hover{
    background-color: #e76f51;
    transform: translateY(-5px);
}
.hero h1,
.hero p {
    color: white;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}
.pigs-section{
    margin: 10px;
    padding: 60px;
    text-align: center;
    background-color: #ffced7;
    border-radius: 20px;

}
.pig-cards{
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    display: flex;
    gap:30px;
}
.pig-card{
    width: 180px;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
}
.pig-card img{
    width:150px;
    height:150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow:5px 5px 5px rgb(184, 183, 183);
    
}
.pig-card:hover {
    transform: translateY(-3px);
}
.pig-card:hover h3 {
    color:palevioletred;

}
.login-form{
    background-color: #ffc3d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 50px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items : center;
    min-height: 100vh
}
.register-form{
    background-color: #ffc3d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 50px;
}

.register-container{
    display: flex;
    justify-content: center;
    align-items : center;
    min-height: 100vh
}